:root {
  --main-color: #161616;
  /* --bg-color: #f4eae0; */
  --bg-color: pink;

  --text-1: #ffffff;
  --text-2: #a2a299;
  --text-3: #777777;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
}

.sidebar {
  width: 250px;
  height: 100%;
  background-color: var(--main-color);
  color: var(--text-1);
  padding: 25px;
}

.name {
  margin-bottom: 4rem;
}

.projects-title {
  display: flex;
  justify-content: space-between;
}

.project-add {
  color: var(--text-2);
  font-size: 1.5rem;
}

.main {
  background-color: var(--bg-color);
  flex: 1;
}
