:root {
  --main-color: #161616;
  /* --bg-color: #f4eae0; */
  --bg-color: pink;
  --hover-1: #424242;
  --text-1: #ffffff;
  --text-2: #a2a299;
  --text-3: #777777;
  --font-big: 24px;
  --font-small: 16px;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
}

.sidebar {
  width: 250px;
  height: 100%;
  background-color: var(--main-color);
  color: var(--text-1);
  /* padding: 25px; */
}

.name {
  margin-bottom: 2rem;
  padding: 25px 25px 0px;
  font-size: var(--font-big);
}

.projects-title,
.tags-title {
  display: flex;
  justify-content: space-between;
  padding: 0px 25px;
  margin-top: 4rem;
  font-size: var(--font-small);
}

.project-add,
.tag-add {
  color: var(--text-2);
  font-size: 1.5rem;
}

.project-add:hover,
.tag-add:hover {
  cursor: pointer;
  color: #2b7bff;
}

#projects,
#tags {
  list-style: none;
  margin: 10px 0px;
}

.project,
.tag {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 7px 25px;
}

.project:hover,
.tag:hover {
  cursor: pointer;
  background-color: var(--hover-1);
}

.project:hover .project-count {
  background-color: #848e92;
}

.tag > p,
.project > p {
  font-size: var(--font-small);
}

.tag > p {
  color: yellow;
}

.project > div {
  background-color: var(--hover-1);
  /* padding: 5px; */
}

.project-count {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 50%;
  height: 25px;
  width: 25px;
}

.main {
  background-color: var(--bg-color);
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 30px;
}

.current-project {
  height: 30px;
  width: fit-content;
  background-color: var(--main-color);
  color: var(--text-1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 25px;
  border-radius: 30px;
}

.current-project > p {
  font-size: var(--font-big);
}

#list-section {
  display: flex;
  /* align-items: center; */
  gap: 30px;
  flex: 1;
}

#todo-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#todo-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.list-container {
  width: 550px;
  height: 100%;
  background-color: var(--main-color);
  border-radius: 20px;
  /* padding: 10px; */
}

.todo-item {
  color: var(--text-1);
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  /* border: 1px solid white; */
  border-radius: 10px;
}

.todo-item:hover {
  cursor: pointer;
  background-color: var(--hover-1);
}

.status-circle {
  height: 20px;
  width: 20px;
  border: 1px solid white;
  border-radius: 10px;
}

.task-input-field {
  height: 65px;
  background-color: #252526;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 15px;
}

#task-input {
  padding: 10px;
  background-color: var(--hover-1);
  color: var(--text-1);
  border: 1px solid var(--hover-1);
  border-radius: 20px;
  flex: 1;
  height: 38px;
}

#task-input:hover {
  border: 1px solid #2b7bff;
  transition: border 0.5s;
}

#task-input:focus {
  border: 1px solid #2b7bff;
  outline: 0;
  caret-color: #2b7bff;
}

.arrow-button {
  height: 40px;
  width: 40px;
  background-color: var(--hover-1);
  border-radius: 20px;
  border: 2px solid #252526;
}

.arrow-button:hover {
  background-color: #2b7bff;
  border: 2px solid #2b7bff;
  cursor: pointer;
  transition: background-color 0.3s ease-in, border 0.3s ease-in;
}

#todo-info {
  height: 300px;
  padding: 20px 12px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.task-title {
  color: var(--text-1);
  font-size: 28px;
  font-weight: bold;
}

.due-date {
  color: var(--text-1);
  font-size: var(--font-small);
}

.notes {
  color: var(--text-2);
  font-size: var(--font-small);
}

.task-title,
.due-date,
.notes {
  margin-left: 8px;
}

#notes-input {
  border: none;
  background-color: var(--main-color);
  padding: 5px 7px;
  font-size: var(--font-small);
  border-radius: 10px;
  color: #e4e4e4;
  resize: none;
  overflow: hidden;
}

#notes-input:hover {
  background-color: #000000;
}

#notes-input:focus {
  background-color: #000000;
  outline: 0;
  caret-color: #2b7bff;
}
